{% comment %}
Inserts a span of image thumbnails from the directory "/images/<gallery_id>",
with filenames matching the pattern given by <set_id>. The thumbnails link
to the full-size images.
{% endcomment %}

{% assign thumb_suffix = "-thumb." %}

<div class="image-gallery">
  {% for file in site.static_files %}
    {% assign gallery_path = "images/" | append: include.gallery_id | append: "/" %}
    {% assign filename = file.path | split: "/" | last %}
    {% if file.path contains gallery_path and filename contains include.set_id %}
    {% unless file.path contains thumb_suffix %}
      {% assign basename = filename | split: "." | first %}
      {% assign ext = filename | split: "." | last %}
      {% assign thumb_filename = basename | append: thumb_suffix | append: ext %}
      {% assign thumb_path = file.path | replace: filename, thumb_filename %}
      <a href="{{ file.path }}" data-lightbox="gallery_id" data-title="Lorem ipsum">
        <img src="{{ thumb_path }}"/>
      </a>
    {% endunless %}
    {% endif %}
  {% endfor %}
</div>
