---
layout: default
---

<article class="post post-body">
  <div class="title">
    <h1>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</h1>
    <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
    {% if page.categories.size != 0 %}
      <div class="post-categories">
        {% for category in page.categories %}
          <code>
            {%- include tag.html -%}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
          </code>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="entry">
    {{ content }}
  </div>
</article>
